.firsttext{
    color: white;
    margin-left: 50px;
    padding-top: 100px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;;
}
.text{
    color: white;
    margin-left: 50px;
    padding-bottom: 200px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;;
}
.alttext{
    color: black;
    margin-left: 50px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;;
}
.button-container {
    display: flex;
    gap: 20px;
}
.random-btn {
    width: 300px;
    height: 200px;
    border: none;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    padding: 0;
}
.random-btn:hover{
    transition: transform 1s;
    transform: scale(1.1, 1.1);
}
.btn-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}
.smoltext{
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;;
    background-color: black;
}